/* THIS IS A COMMENT
primary: #1de9b6
p-light: #6effe8
p-dark: #00b686
secondary:ff8f00
s-light: #ffc046
s-dark: #c56000
*/

/* Global styles */
body {
    background-color: #00b686;
  

}

h1,
h2 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    
}

h1 {
    font-size: 81px;
}

li {
    display: inline-block;
}

section {
    display: center;
}

a {
    font-size: 48 px;
}

/*header styles */
header li {
    margin: 0 10 px;
}

header li:first-of-type {
    margin-left: 0;
}

/* Footer styles */
footer a {
    font-size: 64px;
}